<% include ../partials/centered-head %>

		<h1>Editing: (<%= restaurant.name %>):</h1>

			<%- messages("message", locals) %>

		<form class="addNewForm" method="post" action="/restaurants/<%= restaurant.id %>?_method=PUT">

			<input type="hidden" name="id" class="addNewTextbox" value="<%= restaurant.id %>">
			<input type="hidden" name="userId" class="addNewTextbox" value="<%= restaurant.addedBy.userId %>">

			<select id="cuisine" name="cuisine" class="addNewDropdown" value="<%= restaurant.cuisine %>" required>
					<option value="<%= restaurant.cuisine %>"><%= restaurant.cuisine %></option>
					<option value="CoffeeShop">CoffeeShop</option>
					<option value="Mexican">Mexican</option>
					<option value="Middle Eastern">Middle Eastern</option>
					<option value="Seafood">Seafood</option>
					<option value="Vegetarian">Vegetarian</option>
					<option value="American">American</option>
					<option value="Pizza">Pizza</option>
					<option value="Chinese">Chinese</option>
					<option value="Italian">Italian</option>
					<option value="French">French</option>
					<option value="Korean">Korean</option>
					<option value="Japanese">Japanese</option>
					<option value="Indian">Indian</option>
					<option value="Vietnamese">Vietnamese</option>
					<option value="Delicatessen">Delicatessen</option>
					<option value="German">German</option>
					<option value="Other">Other</option>
				</select><br>	

			<input id="address" name="address" type="text" placeholder="Address" value="<%= restaurant.address %>" required></br>
			<input id="phone" name="phone" type="text" placeholder="Phone #" value="<%= restaurant.phone %>"></br>
			<input id="webUrl" name="webUrl" type="text" placeholder="Website" value="<%= restaurant.webUrl %>"></br>
			<input id="photoLink" name="photoLink" type="text" placeholder="Photo Link" value="<%= restaurant.photoLink %>"></br>
			<textarea id="description" name="description" type="text" placeholder="Brief Description" maxlength="500" required><%= restaurant.description %></textarea><br>
			<input name="submit" type="submit" value="Submit">
		</form>

<% include ../partials/add-new-footer %>