<% include ../partials/head %>

<body>
	<header role="banner">
		<h1>Neighborhood Guide - Nightlife</h1>
	</header>

	<main role="main">

		<% include ../partials/nav %>

	<%- messages("message", locals) %>

	<div class="full-list">
	  <% nightlife.forEach((nightlife) => { %>
	  	<div class="listing"> 
  			<a href="/nightlife/<%= nightlife._id %>">
	  				<img src="<%= nightlife.photoLink %>" class="center-cropped" />
		    	<h3><%= nightlife.name.toUpperCase() %></h3>
		    	<h4>(<%= nightlife.typeOfVenue %>)</h4>
		  	</a>
	    	<%= nightlife.address %><br>
	    	<%= nightlife.phone %><br>
	    	<a href="<%= nightlife.webUrl %>"><%= nightlife.webUrl %></a>
		    <p class="item-description"><%= nightlife.description %></p>
		 	</div>
	  <% }) %>
	</div>
	
	</main>

<% include ../partials/footer %>