<% include ../partials/head %>

		<h1>Nightlife</h1>
		<span id="addNewLink">Find a cool, new bar in the neighborhood?<br>
			<a href="/nightlife/add-new">Click here to add it to the list!</a></span>

	<%- messages("message", locals) %>

	<div class="full-list">
	  <% nightlife.forEach((nightlife) => { %>
	  	<div class="listing"> 
  			<a href="/nightlife/<%= nightlife._id %>">
	  				<img src="<%= nightlife.photoLink %>" class="center-cropped" />
		    	<h3><%= nightlife.name.toUpperCase() %></h3>
		    	<h4>(<%= nightlife.typeOfVenue %>)</h4>
		  	</a>
	    	<%= nightlife.address %><br>
	    	<%= nightlife.phone %><br>
	    	<a href="<%= nightlife.webUrl %>"><%= nightlife.webUrl %></a>
		    <p class="item-description"><%= nightlife.description %></p>
		 	</div>
	  <% }) %>
	</div>

<% include ../partials/footer %>