<% include ../partials/head %>

		<h1>Nightlife</h1>
		<span id="addNewLink">Find a cool, new bar in the neighborhood?</span>
		<br>
		<a class="btn" href="/nightlife/add-new">Add it to the list!</a>

	<%- messages("message", locals) %>

	<ul class="full-list">
	  <% nightlife.forEach((nightlife) => { %>
	  	<li class="listing">
  			<a href="/nightlife/<%= nightlife._id %>">
  				<% if(nightlife.photoLink) { %>
	  				<img src="<%= nightlife.photoLink %>" class="center-cropped" />
	  			<% } %>
		    	<h3><%- nightlife.name.toUpperCase() %></h3>
		    	<h4>(<%= nightlife.typeOfVenue %>)</h4>
		  	</a>
	    	<%= nightlife.address %>
	    	<% if(nightlife.phone) { %>
		    	<br>
		    	<%= nightlife.phone %>
		    <% } %>
		    <% if(nightlife.webUrl) { %>
		    	<br>
	    		<a href="<%- nightlife.webUrl %>"><%= nightlife.webUrl %></a>
	    	<% } %>
		    <p class="item-description"><%= nightlife.description %></p>
		 	</li>
	  <% }) %>
	</ul>

<% include ../partials/footer %>