<% include ../partials/head %>

		<h1>Restaurants</h1>
		<span id="addNewLink">Find a cool, new restaurant in the neighborhood?</span>
		<br>
		<a class="btn" href="/restaurants/add-new">Add it to the list!</a>

	<%- messages("message", locals) %>

		<ul class="full-list">
		  <% restaurants.forEach((restaurant) => { %>
		  	<li class="listing">
  			<a href="/restaurants/<%= restaurant._id %>">
  				<% if(restaurant.photoLink) { %>
	  				<img src="<%= restaurant.photoLink %>" class="center-cropped" alt="<%= restaurant.name%> image" />
	  			<% } %>
		    	<h3><%- restaurant.name.toUpperCase() %></h3>
		    	<h4>(<%= restaurant.cuisine %>)</h4>
		  	</a>
	    	<%= restaurant.address %>
	    	<% if(restaurant.phone) { %>
		    	<br>
		    	<%= restaurant.phone %>
		    <% } %>
		    <% if(restaurant.webUrl) { %>
		    	<br>
	    		<a href="<%- restaurant.webUrl %>"><%= restaurant.webUrl %></a>
	    	<% } %>
		    <p class="item-description"><%= restaurant.description %></p>
		 	</li>
		  <% }) %>
		</ul>

<% include ../partials/footer %>