<!DOCTYPE html>
<html lang='en'>
<head>
	<meta charset="utf-8">
	<meta name='viewport' content="width=device-width">

	<title>Neighborhood Guide</title>
	<meta name="description" content="Interactive Neighborhood Guide for the East Village">

	<link rel="stylesheet" type="text/css" href="./main.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
</head>

<body>
	<header role='banner'>
		<h1>Neighborhood Guide - Restaurants</h1>
	</header>

	<main role='main'>
		<div class='nav'>
			<a href='./restaurants' class='box restaurantIcon'>
				<img src="./images/grid-world.png" class='main-icon'>
				<h2>Restaurants</h2>
			</a>
			<a href='./nightlife' class='box nightlifeIcon'>
				<img src="./images/grid-world.png" class='main-icon'>
				<h2>Nightlife</h2>
			</a>
			<a href='./services' class='box servicesIcon'>
				<img src="./images/grid-world.png" class='main-icon'>
				<h2>Services</h2>
			</a>
		</div>

		<%- messages('message', locals) %>

	<div class="full-list">
	  <% restaurants.forEach((restaurant) => { %>
	  	<hr>
	    <span class="item-name"><%= restaurant.name %> (<%= restaurant.borough %>)</span><br>
	    <span class="item-cuisine"><%= restaurant.cuisine %></span><br>
	    <span class="item-address"><%= restaurant.addressString %></span><br>
	    <span class="item-description"><%= restaurant.description %></span><br>
	    <span class="item-addedBy">Added by: <%= restaurant.addedBy %></span>
	  <% }) %>
	</div>
	</main>

	<footer>
		&copy Kyle Combs 2018<br>
		combskyle@gmail.com
	</footer>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="./index.js"></script>

</body>
</html>