<% include ../partials/head %>

<body>
	<header role="banner">
		<h1>Neighborhood Guide - Services</h1>
	</header>

	<main role="main">

	<% include ../partials/nav %>

	<%- messages("message", locals) %>

	<div class="full-list">
	  <% services.forEach((service) => { %>
	  	<div class="listing"> 
  			<a href="/services/<%= service._id %>">
	  				<img src="<%= service.photoLink %>" class="center-cropped" />
		    	<h3><%= service.name.toUpperCase() %></h3>
		    	<h4>(<%= service.typeOfService %>)</h4>
		  	</a>
	    	<%= service.address %><br>
	    	<%= service.phone %><br>
	    	<a class="webUrl" href="<%= service.webUrl %>"><%= service.webUrl %></a>
		    <p class="item-description"><%= service.description %></p>
		 	</div>
	  <% }) %>
	</div>
	</main>

<% include ../partials/footer %>