<% include ../partials/head %>

<body>
	<header role='banner'>
		<h1>Neighborhood Guide - Services</h1>
	</header>

	<main role='main'>
		<div class='nav'>
			<a href='./restaurants' class='box restaurantIcon'>
				<img src="./images/grid-world.png" class='main-icon'>
				<h2>Restaurants</h2>
			</a>
			<a href='./nightlife' class='box nightlifeIcon'>
				<img src="./images/grid-world.png" class='main-icon'>
				<h2>Nightlife</h2>
			</a>
			<a href='./services' class='box servicesIcon'>
				<img src="./images/grid-world.png" class='main-icon'>
				<h2>Services</h2>
			</a>
		</div>

	<%- messages('message', locals) %>

	<div class="full-list">
	  <% services.forEach((service) => { %>
	  	<hr>
	    <span class="item-name"><%= service.name %> (<%= service.borough %>)</span><br>
	    <span class="item-typeOfService"><%= service.typeOfService %></span><br>
	    <span class="item-address"><%= service.addressString %></span><br>
	    <span class="item-description"><%= service.description %></span><br>
	    <span class="item-addedBy">Added by: <%= service.addedBy %></span>
	  <% }) %>
	</div>
	
	</main>

<% include ../partials/footer %>