<% include ../partials/head %>

		<h1>Services</h1>
		<span id="addNewLink">Find something useful in the neighborhood that you want to share?</span>
		<br>
		<a class="btn" href="/services/add-new">Add it to the list!</a>

	<%- messages("message", locals) %>

	<ul class="full-list">
	  <% services.forEach((service) => { %>
	  	<li class="listing">
  			<a href="/services/<%= service._id %>">
  				<% if(service.photoLink) { %>
	  				<img src="<%= service.photoLink %>" class="center-cropped" />
	  			<% } %>
		    	<h3><%- service.name.toUpperCase() %></h3>
		    	<h4>(<%= service.typeOfService %>)</h4>
		  	</a>
	    	<%= service.address %>
	    	<% if(service.phone) { %>
		    	<br>
		    	<%= service.phone %>
		    <% } %>
		    <% if(service.webUrl) { %>
		    	<br>
	    		<a href="<%- service.webUrl %>"><%= service.webUrl %></a>
	    	<% } %>
		    <p class="item-description"><%= service.description %></p>
		 	</li>
	  <% }) %>
	</ul>

<% include ../partials/footer %>