<% include ../partials/centered-head %>
<% include ../partials/head %>

	<%- messages("message", locals) %>

	<div class="single-listing"> 
		<img src="<%= service.photoLink %>" class="center-cropped-single" />
  	<h1><%= service.name %></h1>
  	<h2>(<%= service.typeOfService %>)</h2>
  	<%= service.address %><br>
  	<%= service.phone %><br>
  	<a href="<%= service.webUrl %>"><%= service.webUrl %></a>
    <p class="item-description"><%= service.description %></p>

    <% if (user) {%>

      <form class="addComment" action="/services/<%=service.id%>/comments" method="post">
        <h3>Add Comment:</h3>
        <textarea id="comment" name="comment" placeholder="Tell us what you think!" required></textarea>
        <input class="hiddenInput" name="hometown" type="hidden" value="<%=user.hometown%>">
        <input class="hiddenInput" name="firstName" type="hidden" value="<%=user.firstName%>">
        <input class="hiddenInput" name="userId" type="hidden" value="<%=user._id%>">
        <br>
        <input type="submit" name="submit" value="Submit">
      </form>

    <% } else { %>

      <a href="../login">Login</a> to leave a comment!      

    <% } %>

    <% if (service.comments.length) { %>
    	<ul class="commentSection">
    		<% service.comments.forEach(comment =>  { %>
    			<li>
            <span class="commentDate"><%= comment.date %> 
              <% if((user) && (user.username === 'admin' || user._id == comment.addedBy.userId)) {%>
                <form class="deleteComment" method="POST" action="/services/<%=service.id%>/comments/<%=comment._id%>?_method=DELETE&commentUserId=<%=comment.addedBy.userId%>">
                  <input type="submit" value="x"></input>
                </form>
              <%}%>
          </span>
            <span class="commentUser"><%= comment.addedBy.firstName %> from 
              <%= comment.addedBy.hometown %> said:</span><br>
            <span class="comment">"<%= comment.comment %>"</span>
          </li>
        <% }) %>
      </ul>
    <% } %>

 	</div>
  <% if((user) && (user.username === 'admin')) {%>
   	<form method="POST" action="/services/<%=service.id%>?_method=DELETE">
    	<input class="deleteBtn" type="submit" value="Delete Listing"></input>
  	</form>
  <%}%>
  
<% include ../partials/footer %>

