<% include ../partials/centered-head %>

	<%- messages("message", locals) %>

	<div class="single-listing"> 
		<img src="<%= nightlife.photoLink %>" class="center-cropped-single" />
  	<h1><%= nightlife.name %></h1>
  	<h2>(<%= nightlife.typeOfVenue %>)</h2>
  	<%= nightlife.address %><br>
  	<%= nightlife.phone %><br>
  	<a href="<%= nightlife.webUrl %>"><%= nightlife.webUrl %></a>
    <p class="item-description"><%= nightlife.description %></p>

    <% if (user) {%>

      <form class="addComment" action="/nightlife/<%=nightlife.id%>/comments" method="post">
      	<h3>Add Comment:</h3>
      	<textarea id="comment" name="comment" placeholder="Tell us what you think!" required></textarea>
        <input class="hiddenInput" name="hometown" type="hidden" value="<%=user.hometown%>">
        <input class="hiddenInput" name="firstName" type="hidden" value="<%=user.firstName%>">
        <input class="hiddenInput" name="userId" type="hidden" value="<%=user._id%>">
        <br>
      	<input type="submit" name="submit" value="Submit">
      </form>  

    <% } else { %>

      <a href="../login?next=/nightlife/<%=nightlife.id%>">Login</a> to leave a comment!   
         
    <% } %>

    <% if (nightlife.comments.length) { %>
    	<ul class="commentSection">
    		<% nightlife.comments.forEach(comment =>  { %>
    			<li>
            <span class="commentDate"><%= comment.date %> 
              <% if((user) && ((user.username === 'admin') || (user._id == comment.addedBy.userId))) {%>
                <form class="deleteComment" method="POST" action="/nightlife/<%=nightlife.id%>/comments/<%=comment._id%>?_method=DELETE&commentUserId=<%=comment.addedBy.userId%>">
                  <input type="submit" value="x"></input>
                </form>
              <%}%>
          </span>
            <span class="commentUser"><%= comment.addedBy.firstName %> from 
              <%= comment.addedBy.hometown %> said:</span><br>
            <span class="comment">"<%= comment.comment %>"</span>
          </li>
    		<% }) %>
			</ul>
    <% } %>

 	</div>
  <% if((user) && (user.username === 'admin')) {%>
   	<form method="POST" action="/nightlife/<%=nightlife.id%>?_method=DELETE">
    	<input class="deleteBtn" type="submit" value="Delete Listing"></input>
  	</form>
  <%}%>

<% include ../partials/footer %>

