<% include ../partials/head %>

	<%- messages("message", locals) %>

	<div class="single-listing"> 
		<img src="<%= restaurant.photoLink %>" class="center-cropped-single" />
  	<h1><%= restaurant.name %></h1>
  	<h2>(<%= restaurant.cuisine %>)</h2>
  	<%= restaurant.address %><br>
  	<%= restaurant.phone %><br>
  	<a href="<%= restaurant.webUrl %>"><%= restaurant.webUrl %></a>
    <p class="item-description"><%= restaurant.description %></p>


    <form class="addComment" action="/restaurants/<%=restaurant.id%>/comments" method="post">
    	<h3>Add Comment:</h3>
    	<textarea id="comment" name="comment" placeholder="Tell us what you think!" required></textarea></br>
    	<input id="addedBy" name="addedBy" type="text" placeholder="Your Name"> 
    	<input type="submit" name="submit" value="Submit">
    </form>

    <% if (restaurant.comments.length) { %>
    	<ul class="commentSection">
    		<% restaurant.comments.forEach(comment =>  { %>
    			<li>
    				<span class="commentDate"><%= comment.date %></span>
    				<span class="commentUser"><%= comment.addedBy %> said:</span><br>
    				<span class="comment">"<%= comment.comment %>"</span>
    			</li>
    		<% }) %>
			</ul>
    <% } %>

 	</div>

 	<form method="POST" action="/restaurants/<%=restaurant.id%>?_method=DELETE">
  	<input class="deleteBtn" type="submit" value="Delete Listing"></input>
	</form>

<% include ../partials/footer %>

